
<div class="container w-30">    
    <div class="row content">        
  
        <div> 
            <br><br>
            <table style="border: solid black;border-collapse: collapse;">
                <thead>
                    <tr style="background-color: gainsboro;">
                        <th>Bus Name</th>                        
                        <th>Boarding Point</th>
                        <th>Destination Point</th>
                        <th>Stop 1</th>
                        <th>Stop 2</th>
                        <th>Arrival</th>
                        <th>Departure</th>
                        <th>Date</th>
                        <th>Fare</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><button>View Seat Layout</button></td>
                    </tr>
                </tbody>
            </table>
        </div>      
    </div>
  </div>
  
  
