<h3 style="text-align: center;">Add bus Details</h3>

<div class="card m-3">
    
    <div class="card-body">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
                
                <div class="form-group col-5">
                    <label>Bus Name</label>
                    <input type="text" formControlName="busname" name="name" id="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.busname.errors }" />
                    <div *ngIf="submitted && f.busname.errors" class="invalid-feedback">
                        <div *ngIf="f.busname.errors.required">Bus Name is required</div>
                        <div *ngIf="f.busname.errors.pattern">Should have 1 uppercase, 1 lowercase , 1 number</div>
                        <div *ngIf="f.busname.errors.minlength">Must be at least 6 characters</div>
                    </div>
                </div>
                
                
            </div>
            <div class="form-row">       
              
              <div class="form-group col-5">
                <label>No of Seats</label>
                <input type="number" formControlName="seats" name="seat" id="seat" min="0" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.seats.errors }" />
                <div *ngIf="submitted && f.seats.errors" class="invalid-feedback">
                    <div *ngIf="f.seats.errors.required">No of Seats is required</div>
                    <div *ngIf="f.seats.errors?.min">Invalid Data</div>
                </div>
              </div>
              
          </div>           
           

            <div class="form-row">
              <div class="form-group col">
                <label>Boarding Point</label>
                <select type="text" formControlName="boardingPoint" name="boardingPt" id="boardingPt" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.boardingPoint.errors }" ></select>
                <div *ngIf="submitted && f.boardingPoint.errors" class="invalid-feedback">
                    <div *ngIf="f.boardingPoint.errors.required">Boarding Point is required</div>                    
                </div>
            </div>
            <div class="form-group col">
                <label>Destination Point</label>
                <select type="text" formControlName="destPoint" name="destPt" id="destPt" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.destPoint.errors }" ></select>
                <div *ngIf="submitted && f.destPoint.errors" class="invalid-feedback">
                    <div *ngIf="f.destPoint.errors.required">Destination Point is required</div>                    
                </div>
            </div>

              
            </div>

            <div class="form-row">                
                <div class="form-group col">
                    <label>Arrival</label>
                    <input type="date" formControlName="arrival" name="arrival" id="arrival" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.arrival.errors }" />
                    <div *ngIf="submitted && f.arrival.errors" class="invalid-feedback">
                        <div *ngIf="f.arrival.errors.required">Arrival is required</div>                        
                    </div>
                </div>

                <div class="form-group col">
                    <label>Departure</label>
                    <input type="date" formControlName="dept" name="dept" id="dept" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.dept.errors }" />
                    <div *ngIf="submitted && f.dept.errors" class="invalid-feedback">
                        <div *ngIf="f.dept.errors.required">Departure is required</div>                        
                    </div>
                </div>

                <div class="form-group col">
                    <label>Duration</label>
                    <input type="number" formControlName="duration" name="duration" id="duration" min="0" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.duration.errors }" />
                    <div *ngIf="submitted && f.duration.errors" class="invalid-feedback">
                        <div *ngIf="f.duration.errors.required">Duration is required</div>  
                        <div *ngIf="f.duration.errors?.min">Invalid Duration</div>                        
                                          
                    </div>
                </div>

                <div class="form-group col">
                    <label>Fare</label>
                    <input type="number" formControlName="fare" name="fare" id="fare" min="100" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.fare.errors }" />
                    <div *ngIf="submitted && f.fare.errors" class="invalid-feedback">
                        <div *ngIf="f.fare.errors.required">Fare is required</div>   
                        <div *ngIf="f.fare.errors?.min">Minimum fare should be 100</div>                      
                    </div>
                </div>

                <div class="form-group col">
                    <label>Date</label>
                    <input type="date" formControlName="date" name="date" id="date" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.date.errors }" />
                    <div *ngIf="submitted && f.date.errors" class="invalid-feedback">
                        <div *ngIf="f.date.errors.required">Date of travel is required</div>                        
                    </div>
                </div>
            </div>
           
            <div class="text-center">
                <button class="btn btn-primary mr-1">Add</button>
                
            </div>
        </form>
    </div>
</div>

