<h3 style="text-align: center;">Update Route</h3>
<!-- <div class="container-fluid text-center">     -->
<div class="container mt-8 bg-white rounded w-50">    
  <div class="row content">        

      <div class="Absolute-Center justify-content-center col-sm-10 text-left"> 
          <br>
          
          <label>Boarding Point</label>
          <select class="form-control">

          </select>

          <label>Destination Point</label>
          <select class="form-control">

          </select>
          
          <br>
          <form style="align-content: center; width: 350px;justify-content: center;" class="form-group col-xs-2">
             
              <label>Stops</label>
              <select class="form-control" name="stop" id="stop">
                  
              </select>
              
              <br>
              <button class="form-control btn btn-secondary">Update</button>
          </form>
      </div>      
  </div>
</div>

