<h3 style="text-align: center;">Bus Details</h3>
<!-- <div class="container-fluid text-center">     -->
<div class="container mt-8 bg-white rounded w-50">    
  <div class="row content">        

      <div class="Absolute-Center justify-content-center col-sm-10 text-left"> 
          <br><br>
          <table>
              <thead>
                  <tr>
                      <th>Bus Name</th>
                      <th>No of Seats Available</th>
                      <th>Boarding Point</th>
                      <th>Destination Point</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                  </tr>
              </tbody>
          </table>
      </div>      
  </div>
</div>

